@import '../../App.scss';



.projects {
  
@include for-phone {
  width: 95vw;
 
}
  overflow: hidden;
  z-index: 1;
  gap: 2rem;
  position: relative;
  width: 85vw;
  margin: 0 auto;
padding-bottom: 1.5rem;
  padding-top: 10rem;

 

  .tail {
    display: flex;
    flex-direction: column;
    gap: 3rem;
  
  }
}
