@import '../../App.scss';


.about {
  overflow: hidden;
  @include for-phone {
    width: 100vw;
    padding: 1rem;
  }
  position: relative;
  display: flex;
  flex-direction: column;
  padding-top: 6rem;
  width: 85vw;
  margin: 0 auto;

  margin-bottom: 10px;

  .tail {
    padding-top: 1rem;
    display: flex;
   
    gap: 6rem;
    @include for-phone {
      flex-direction: column;
      align-items: center;
      gap: 0;
    }

    .left {
      flex: 1;
      display: flex;
      flex-direction: column;
    }

    .right {
      flex: 1;
      .skills {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        .skills-skill {
          padding: 0.5rem 1rem;
          font-size: 1rem;
          border-radius: 5px;
          color: #262626;
          font-weight: 600;
          background-color: #f1dfdf;
        }
      }
    }
  }
}
