@import '../breakpoints/breakpoints';

nav {
  @media only screen and (max-width: 768px) {
    width: 100vw;
  }
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  font-size: 1.25rem;
  z-index: 9999;
  background: rgba(255, 255, 255, 0.9);

  font-weight: 500;
  .brand {
    cursor: pointer;
  }
  .nav-container {
    width: 85vw;
    @media only screen and (max-width: 768px) {
      width: 100%;
      margin-left: 8px;
    }
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .brand {
      text-decoration: none;
      color: black;
    }
    .links {
      ul {
        display: flex;
        list-style-type: none;

        li {
            margin: 8px;
          a {
            @media only screen and (max-width: 768px) {
              margin: 5px;
              padding: 5px;
              font-weight: 400;
            }

            padding: 10px;
            text-decoration: none;
            color: black;
            &:hover {
              border-bottom: 2px solid #991b1b;
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}
