@import '../../App.scss';

nav {
  box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(2px);
  @include for-phone {
    width: 100vw;
  }
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  font-size: 1.25rem;
  z-index: 999;
  
  background: rgba(255, 255, 255, 0.8);

  font-weight: 500;
  .brand {
    cursor: pointer;
    font-size: 1.75rem;
    font-smooth: always;
    color: #991b1b;
    text-decoration: none;
  }
  .nav-container {
    padding: 1rem 0;
    width: 85vw;
    @include for-phone {
      width: 100%;
      margin-left: 8px;
    }
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .links {
      ul {
        @media only screen and (min-width: 768px) {
        }
        display: flex;
        list-style-type: none;

        li {
          margin: 8px;
          a {
            @include for-phone {
              margin: 5px;
              padding: 5px;
              font-weight: 400;
            }

            padding: 10px;
            text-decoration: none;
            color: black;
            &:hover {
              @include for-phone {
                border-bottom: revert;
              }
              border-bottom: 2px solid #991b1b;
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}
